
.social{
	position: fixed;
	right: 0;
	top: 35%;
	z-index: 2000;
}
	/*
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
}*/

.social ul{
	list-style: none;
}

.social ul li a{
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 18px 25px;
	text-decoration: none;
	text-align: center;
	transition: all .25s;

}
.social ul li .icon-facebook {
	background-color: #2E406E;
	border-radius: 10px 0 0 0;
}

.social ul li .icon-twitter{
	background-color: #339DC5;
}

.social ul li .icon-youtube{
	background-color: #E83028;
}

.social ul li .icon-instagram{
	background-color: #bc2a8d;
	border-radius:  0 0 0 10px;
}

.social ul li .icon-facebook:hover{
	border-radius: 10px 0 0 0;
	padding: 20px 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	
}

.social ul li .icon-instagram:hover{
	border-radius:  0 0 0 10px;
	padding: 20px 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	
}

.social ul li .icon-youtube:hover, .social ul li .icon-twitter:hover{
	padding: 20px 30px;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}




